---
import { ButtonFullBg } from '~/AppButton/ButtonFullBg'
---

<div class="bg-bgColor-1 border-b border-neutral-700 sticky top-0 z-20">
  <div class="relative z-50">
    <div class="mx-auto container flex items-center justify-between py-6.5">
      <a href="/" class="typo-s20-w700 lg:typo-s24-w700 text-white"
        >Personalify</a
      >
      <ButtonFullBg className="py-2 lg:py-2.5 leading-5"
        ><p class="lg:px-3">Contact us</p></ButtonFullBg
      >
    </div>
  </div>
</div>
