---
import { AppResource } from '~/const/AppResource'
import { TabsWithPersonalify } from './TabsWithPersonalify'
---

<div class="py-10 lg:py-29 container mx-auto">
  <div class="lg:w-[50%]">
    <p class="typo-s12-w600 lg:typo-s20-w500 text-neutral-600">
      INCREASE PRODUCTIVITY
    </p>
    <p class="typo-s24-w700 lg:typo-s40-w700 text-neutral-900 pt-2 lg:pt-3">
      What Results Can You Expect from Using Personalify?
    </p>
  </div>
  <div class="pt-7.5 lg:pt-15">
    <TabsWithPersonalify client:load />
  </div>
</div>
